# Jika frontend Anda di-host di domain berbeda dari Laravel API,
# isi base URL ini supaya request mengarah ke server Laravel.
#
# Saat development (`npm run dev`), Anda bisa biarkan kosong karena sudah ada proxy di vite.config.ts
#
VITE_API_BASE_URL=https://app.sucisutjiptofoundation.org
